<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/public/css/auth.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="back-button">
                <button onclick="goBack()">←</button>
            </div>
            <h1>Edit Profile</h1>
        </div>
        <div class="profile-picture">
            <div class="image-placeholder">
                <span class="initial">M</span>
                <button class="upload-button">
                    <img src="/images/assets/camera.png" alt="Upload Icon">
                </button>
            </div>
        </div>

        <form class="edit-form">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="MasterCraft" disabled>

            <label for="email">Email</label>
            <input type="email" id="email" placeholder="moses@fudcheckit.com">

            <label for="phone">Phone number</label>
            <input type="tel" id="phone" placeholder="Phone number">

            <button class="save-button" type="submit">Save Changes</button>
        </form>
    </div>
    
    <!--Bottom Nav-->
    <div class="bottom-nav">
        <a href="/scr/view/apartment/main.html">
            <img src="/images/nav/home.png" alt="Home">
            <p>Home</p>
        </a>
        <a href="/scr/view/newfav.html">
            <img src="/images/nav/heart.png" alt="Favourites">
            <p>Favourites</p>
        </a>
        <a href="https://wa.me/2348164248021">
            <img src="/images/nav/chatting.png" alt="Bookings">
            <p>Chat</p>
        </a>
        <a href="/scr/view/profile.html">
            <img src="/images/nav/user.png" alt="Profile">
            <p>Profile</p>
        </a>
    </div>
    
</body>

<script>
    function goBack() {
    window.history.back();
}
</script>
</html>
