<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/public/css/auth.css">
    <link rel="stylesheet" href="/public/css/fav.css">
</head>
<body>
    <div class="container">
        <img src="/images/assets/house.png" alt="No favorites icon">
        <h1>No favorites yet</h1>
        <p>Keep search of houses and save your favourite Houses here</p>
        <button class="explore-btn">Explore Houses</button>
    </div>
    


    <!--Bottom Nav-->
    <div class="bottom-nav">
        <a href="/scr/view/apartment/main.html">
            <img src="/images/nav/home.png" alt="Home">
            <p>Home</p>
        </a>
        <a href="/scr/view/newfav.html">
            <img src="/images/nav/heart.png" alt="Favourites">
            <p>Favourites</p>
        </a>
        <a href="https://wa.me/2348164248021">
            <img src="/images/nav/chatting.png" alt="Bookings">
            <p>Chat</p>
        </a>
        <a href="/scr/view/profile.html">
            <img src="/images/nav/user.png" alt="Profile">
            <p>Profile</p>
        </a>
    </div>

</body>
</html>
