<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/public/css/profile.css">
    <link rel="stylesheet" href="/public/css/auth.css">
</head>
<body>

    <div class="profile-container">
        
        <div class="profile-header">
            <div class="profile-image">
                <span class="profile-initial">M</span>
            </div>
            <div class="profile-details">
                <h2>MasterCraft</h2>
                <p>moses@fudcheckit.com</p>
            </div>
            <div class="edit-icon">
                <a href="/scr/view/editprofile.html"><img src="/images/assets/edit.png" alt="Edit"></a>
            </div>
        </div>

        <!-- Account Section -->
        <div class="account-section">
            <h3>ACCOUNT</h3>
            <div class="option">
                <img src="/images/assets/pro.png" alt="Edit profile">
                <a href="/scr/view/editprofile.html"><p>Edit profile</p></a>
            </div>
            <div class="option">
                <img src="/images/assets/padlock.png" alt="Change password">
                <a href="/scr/view/change-password.html"><p>Change Password</p></a>
            </div>
        </div>

       
        <div class="more-options">
            <h3>MORE OPTIONS</h3>
            
            
            <div class="option">
                <img src="/images/assets/help-web-button.png" alt="Help">
                <p>Help</p>
            </div>
            <div class="option">
                <img src="/images/assets/chat.png" alt="About">
                <p>About</p>
            </div>
        </div>
    </div>

    <!--Bottom Nav-->
    <div class="bottom-nav">
        <a href="/scr/view/apartment/main.html">
            <img src="/images/nav/home.png" alt="Home">
            <p>Home</p>
        </a>
        <a href="/scr/view/newfav.html">
            <img src="/images/nav/heart.png" alt="Favourites">
            <p>Favourites</p>
        </a>
        <a href="https://wa.me/2348164248021">
            <img src="/images/nav/chatting.png" alt="Bookings">
            <p>Chat</p>
        </a>
        <a href="/scr/view/profile.html">
            <img src="/images/nav/user.png" alt="Profile">
            <p>Profile</p>
        </a>
    </div>
</body>
</html>
