l<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listings</title>
    <link rel="stylesheet" href="/js-css/css/list.css">

</head>
<body>
    <div class="header">
        <div class="profile-icon">
            <img src="/images/nav/user.png" alt="Profile">
            <div>
               </div>
        <div class="current-address">
            <span>Current address</span>
            <a href="#" class="set-address">Set your Address</a>
        </div>
        </div>
        <div class="notification-icon">
            <img src="/images/nav/notification.png" alt="Notification">
        </div>
    </div>

    
        
    </div>

    <div class="bank-account">
        <p>Welcome back, 🤗 <em class="username">@MasterCraft</em>
        <marquee behavior="scroll" direction="left">Get A Hostel Before Getting To Dutse 🏠</marquee>
    </div>

    <div class="explore">
        <h2>Explore</h2>
        <p>Available House to Rent in Yalwawa</p>
    </div>

    <div class="listing-filter">
        <button>All</button>
        <button>Yalwawa</button>
        <button>G9 Villa</button>
        <button>Police MessVilla</button>
    </div>
<!--Nearby-->
    <div class="listings-nearby">
       <a href="/scr/view/Houses/apart1.html"> <div class="listing">
            <img src="/images/34.jpg" alt="Two bedroom apartment" class="listing-image">
            <div class="listing-details">
                <h3>Yaliwawa Residence - 1 Bedrooms Apartment</h3>
                <p>Yalwawa</p>
                <p>N100,000</p>
                <div class="listing-icons">
                    <span>2 beds</span>
                    <span>1 baths</span>
                </div>
            </div>
        </div>
    </div></a>


    <div class="listings-nearby">
        <a href="/scr/view/Houses/apart2.html"> <div class="listing">
             <img src="/images/apart3.jpg" alt="Two bedroom apartment" class="listing-image">
             <div class="listing-details">
                 <h3>G9 Residence - 2 bedroom apartment</h3>
                 <p>Yalwawa</p>
                 <p>N280,000</p>
                 <div class="listing-icons">
                     <span>2 beds</span>
                     <span>1 baths</span>
                 </div>
             </div>
         </div>
     </div></a>
    <br>
    
    
    <div class="listings-nearby">
        <a href="/scr/view/Houses/apart3.html"> <div class="listing">
             <img src="/images/apart2.jpg" alt="Two bedroom apartment" class="listing-image">
             <div class="listing-details">
                 <h3>Police MessVilla - 3 bedroom apartment</h3>
                 <p>Yalwawa</p>
                 <p>N300,000</p>
                 <div class="listing-icons">
                     <span>2 beds</span>
                     <span>1 baths</span>
                 </div>
             </div>
         </div>
     </div></a>    

 
  

    <!--Bottom Nav-->
    <div class="bottom-nav">
        <a href="/">
            <img src="/images/nav/home.png" alt="Home">
            <p>Home</p>
        </a>
        <a href="/scr/view/newfav.html">
            <img src="/images/nav/heart.png" alt="Favourites">
            <p>Favourites</p>
        </a>
        <a href="https://wa.me/2348164248021">
            <img src="/images/nav/chatting.png" alt="Bookings">
            <p>Chat</p>
        </a>
        <a href="/scr/view/profile.html">
            <img src="/images/nav/user.png" alt="Profile">
            <p>Profile</p>
        </a>
    </div>
</body>
</html>
