<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listing</title>
    <link rel="stylesheet" href="/public/css/apart.css">
   
    
  </head>
<body>
    
  <div class="container">
        
        <div class="back-button">
            <button onclick="goBack()">←</button>
        </div>

        <div class="property-image">
            <img src="/images/apart3.jpg" alt="Living Room">
        </div>

        <div class="property-details">
            <h2>Yaliwawa Residence - 2 Bedrooms Apartment</h2>
            <p class="price"><span class="discount">₦350,000</span></p>
            <p class="price">₦280,000</p>
            
            <div class="info">
                <span><i class="fas fa-bed"></i> 2 Bedrooms</span>
                <span><i class="fas fa-bath"></i> 1 Bathrooms</span>
                <span><i class="fas fa-car"></i> 1 Parking</span>
            </div>
            <div class="profile-section">
                <img src="/images/agent.png" alt="Profile" class="profile-img">
                <div class="profile-name">MasterCraft</div>
                <div class="profile-action">
                   <a href="tel:09159907055"><button class="call-btn">Call</button></a>
                </div>
            </div>

            <div class="description">
                <p>Modern Shortlet: Stylish, fully-furnished apartment with free Wi-Fi, smart TV, cozy interiors, prime location, 24/7 security & amenities.</p>
                <div class="rent-now">
                  <a href="https://wa.me/2348164248021"><button class="rent-btn">Rent House</button></a>
              </div>
                <p>Modern Shortlet: Stylish, fully-furnished apartment with free Wi-Fi, smart TV, cozy interiors, prime location, 24/7 security & amenities.</p>
                <br>
                <p>Modern Shortlet: Stylish, fully-furnished apartment with free Wi-Fi, smart TV, cozy interiors, prime location, 24/7 security & amenities.</p>
            </div>

           
        </div>
    </div>
    </div>

     <!--Bottom Nav-->
     <div class="bottom-nav">
      <a href="/scr/view/apartment/main.html">
          <img src="/images/nav/home.png" alt="Home">
          <p>Home</p>
      </a>
      <a href="/scr/view/newfav.html">
          <img src="/images/nav/heart.png" alt="Favourites">
          <p>Favourites</p>
      </a>
      <a href="https://wa.me/2348164248021">
          <img src="/images/nav/chatting.png" alt="Bookings">
          <p>Chat</p>
      </a>
      <a href="/scr/view/profile.html">
          <img src="/images/nav/user.png" alt="Profile">
          <p>Profile</p>
      </a>
  </div>

    <script>

function goBack() {
    window.history.back();
}
    </script>
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
