<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent Houses at Affordable rate</title>
    <meta name="description" content="Connecting you with dream House, Search for the best Affordable and love houses today.">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="/js-css/css/styles.css" type="text/css" rel="Stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js-css/js/main.js"></script>
</head>

<body>
    <div id="heaer-hero-container">
        <header>
            <div class="flex container">
                <a id="logo" href="#">FUDCheckIt</a>
                <nav>
                    <button id="nav-toggle" class="hamburger-menu">
                        <span class="strip"></span>
                        <span class="strip"></span>
                        <span class="strip"></span>
                    </button>

                    <ul id="nav-menu">
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="/scr/user/login.html">Houses</a></li>
                        <li><a href="/scr/user/login.html">Login</a></li>
                        <li><a href="/scr/user/register.html">Register</a></li>
                        <li><a href="/pages/contact.html">Contact</a></li>
                        <li id="close-flyout"><span class="fas fa-times"></span></li>
                    </ul>
                </nav>
            </div>
        </header>
</body>
</html>